openapi: 3.0.0
info:
  title: API для виджетов
  version: 1.0.0
  description: Взаимодействие с виджетами на начальном экране
servers:
  - url: https://sbol.ru/api
tags:
  - name: WidgetsAPI
    description: Методы для взаимодействия с виджетами
paths:
  /widgets:
    get:
      tags:
        - WidgetsAPI
      summary: получение списка виджетов на экране пользователя
      responses:
        '200':
          description: Успешный ответ с массивом виджетов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetsResponse'
                      
  /widgets/settings:
    post:
      summary: добавление виджета на экран пользователя
      tags:
        - WidgetsAPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWidgetRequest'
      responses:
        '200':
          description: Успешное добавление виджета пользователям
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddWidgetResponse'
              examples:
                example-1:
                  summary: Пример ответа
                  value: 
                    settingId: 123
                    message: "Виджет успешно добавлен"

components:
  schemas:
    WidgetsResponse:  # Схема для ответа о виджетах
      type: object
      properties:
        widgets:
          type: array
          items:
            type: object
            required:
              - widgetID
              - widgetType
              - widgetData
              - settings
            properties:
              widgetID:
                type: integer
                description: Идентификатор виджета
                example: 1
              widgetType:
                type: string
                description: Тип виджета
                example: "PieChart"
              widgetData:
                type: object
                required:
                  - dataSourceUrl
                properties: 
                  dataSourceUrl:
                    type: string
                    description: URL для получения информации, отображаемой в виджете
                    example: "https:/sbol.ru/api/expences"
              settings:
                type: object
                required:
                  - posX
                  - posY
                  - width
                  - height
                  - widgetSize
                  - colorScheme
                properties:
                  posX:
                    type: integer
                    description: Позиция X
                    example: 10
                  posY:
                    type: integer
                    description: Позиция Y
                    example: 20
                  width:
                    type: integer
                    description: Ширина виджета
                    example: 300
                  height:
                    type: integer
                    description: Высота виджета
                    example: 200
                  widgetSize:
                    type: string
                    description: Размерность виджета
                    example: "medium"
                  colorScheme:
                    type: string
                    description: Цветовая схема
                    example: "light"

    AddWidgetRequest:  # Схема для запроса на добавление виджета 
      type: object
      properties:
        widget:
          type: object
          required:
            - widgetID 
            - settings 
          properties:
            widgetID:
              type: integer 
              description: Идентификатор виджета
              example: 1
            settings:
              type: object 
              required:
                - posX 
                - posY 
                - width 
                - height 
                - widgetSize 
              properties:
                posX:
                  type: integer 
                  description: Позиция X
                  example: 10
                posY:
                  type: integer 
                  description: Позиция Y
                  example: 20
                width:
                  type: integer 
                  description: Ширина виджета
                  example: 300
                height:
                  type: integer 
                  description: Высота виджета
                  example: 200
                widgetSize:
                  type: string
                  description: Размерность виджета
                  example: "medium"
                colorScheme:
                  type: string
                  description: Цветовая схема
                  example: "light"

    AddWidgetResponse:  # Схема для ответа на добавление виджета 
      type: object
      properties:
        settingId:
          type: integer 
          description: ID созданной связи виджет-пользователь с выбранными настройками
          example: 123
        message:
          type: string
          description: Сообщение об успешной операции добавления виджета
          example: "Виджет успешно добавлен"
