openapi: 3.0.3
info:
  title: Swagger  - OpenAPI 3.0
  version: 1.0.0
  description: Описание методов API для получения заказов, сгруппированных по датам доставки
  
servers:
  - url: https://api.wildberries.ru/v1
    
tags:
  - name: deliveries
    description: Методы для группировки заказанных товаров по датам их доставки
    
paths:
  /deliveries:
    get:
      summary: Получить сгруппированные заказы по датам доставки
      description: Возвращает все заказанные товары, сгруппированные по дате доставки.
      tags:
        - Deliveries
      parameters:
        - name: deliveries
          in: query
          required: true
          description: Запрос для получения сгруппированных заказов.
          schema:
            type: string
            example: "true"
      responses:
        '200':
          description: Успешный ответ с массивом доставок
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    delivery_date:
                      type: string
                      format: date
                      description: Дата доставки
                    orders:
                      type: array
                      items:
                        type: object
                        properties:
                          order_id:
                            type: number
                            format: int32
                            description: Идентификатор заказа
                          delivery_id:
                            type: number
                            format: int32
                            description: Идентификатор доставки                           
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                product_id:
                                  type: number
                                  format: int32
                                  description: Идентификатор товара
                                product_name:
                                  type: string
                                  description: Название товара
                                quantity:
                                  type: number
                                  format: int32
                                  description: Количество товара
                                price:
                                  type: number
                                  format: int32
                                  description: Цена товара
                example:
                  - delivery_date: "2024-12-30"
                    orders:
                      - order_id: "123"
                        delivery_id: "456"
                        products:
                          - product_id: "1"
                            product_name: "Товар 1"
                            quantity: 2
                            price: 999
                          - product_id: "2"
                            product_name: "Товар 2"
                            quantity: 1
                            price: 499
                  - delivery_date: "2024-12-31"
                    orders:
                      - order_id: "124"
                        delivery_id: "789"
                        products:
                          - product_id: "3"
                            product_name: "Товар 3"
                            quantity: 1
                            price: 599