openapi: 3.0.3
info:
  title: Swagger
  description: Описание методов API для работы с локациями
  version: 1.0.11
servers:
  - url: https://mapsya.ru/api/v3
  
tags:
  - name: lists
    description: Методы для работы с локациями в списках избранного
  
paths:
  /favourites/{listId}:
    get:
      tags:
        - lists
      summary: Получение всех локаций в одном из списков раздела Избранное
      description: Получение локаций списка по его id
      parameters:
        - name: listId
          in: path
          description: уникальный идентификатор списка избранного 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/favourites_response_get'
                
  /favourites:
    post:
      tags:
        - lists
      summary: Добавление локации в список в разделе Избранное
      description: Добавление записи о прикреплении локации в список в Избранном
      requestBody:
        description: Параметры метода для отправки сообщения
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/favourites_request_post'
      responses:
        '201':
          description: Запись успешно создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/favourites_response_post'
        
components:
  schemas:
  
    favourites_response_get:
      type: object
      required:
        - code
        - message
        - locations
      properties:
        code:
          type: integer
          format: int32
          description: код операции
          example: 200
        message:
          type: string
          description: Сообщение об успешности запроса
          example: ОК
        locations:
          type: array
          items:
            $ref: '#/components/schemas/location'
   
    location:
      type: object
      required:
        - locationId
        - location_name
        - location_description
      properties:
        locationId:
          type: integer
          description: уникальный идентификатор локации, находящейся в списке
          example: 123
        location_name:
          type: string
          description: описание (карточка) локации
          example: Клюква
        location_description:
          type: string
          format: text
          description: описание (карточка) локации
          example: отличное кафе в центре города
     
    favourites_request_post:
      type: object
      required:
        - userId
        - locationId
        - listId
      properties:
        userId:
          type: integer
          description: Уникальный идентификатор пользователя
          example: 123
        locationId:
          type: integer
          description: Уникальный идентификатор локации
          example: 234
        listId:
          type: integer
          description: Уникальный идентификатор списка
          example: 6
       
    favourites_response_post:
      type: object
      required:
        - favouritesId
        - userId
        - locationId
        - listId
        - code
        - message
      properties:
        favouritesId:
          type: integer
          description: Уникальный идентификатор записи в Избранном
          example: 18
        userId:
          type: integer
          description: Уникальный идентификатор пользователя
          example: 123
        locationId:
          type: integer
          description: Уникальный идентификатор локации
          example: 234
        listId:
          type: integer
          description: Уникальный идентификатор списка
          example: 6
        code:
          type: integer
          format: int32
          description: код операции
          example: 201
        message:
          type: string
          description: Сообщение о создании записи
          example: Запись успешно создана