openapi: 3.0.3
info:
  title: Swagger
  description: Описание методов API для работы с сообщениями
  version: 1.0.11
servers:
  - url: https://messenger.com/api/v3
  
tags:
  - name: sticker
    description: Метод для работы со стикерами
  - name: message
    description: Метод для работы с сообщениями

paths:
  /stickers:
    get:
      tags:
        - sticker
      summary: Запрос списка стикеров
      description: Возвращает список стикеров с возможностью пагинации и фильтрации по тегу
      parameters:
        - name: page
          in: query
          description: Текущая страница для пагинации
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Количество элементов на странице для пагинации
          required: false
          schema:
            type: integer
        - name: tag
          in: query
          description: Данные для удобства поиска
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stickers_response'  
  /messages:
    post:
      tags:
        - message
      summary: Отправка сообщения
      description: Отправляет сообщение в указанный чат. Поддерживаются текстовые сообщения и стикеры
      requestBody:
        description: Параметры метода для отправки сообщения
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages_request'
      responses:
        '201':
          description: Успешно отправленное сообщение
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages_response'
        
components:
  schemas:
  
    stickers_response:
      type: object
      required:
        - stickers
        - pagination
      properties:
        stickers:
          type: array
          items:
            $ref: '#/components/schemas/sticker'
        pagination:
          $ref: '#/components/schemas/pagination'
    
    sticker:
      type: object
      required:
        - sticker_id
        - sticker_url
        - tag
      properties:
        sticker_id:
          type: integer
          description: Уникальный признак объекта «стикер»
          example: 1
        sticker_url:
          type: string
          description: Путь к изображению стикера
          example: https://example.com/sticker1.png
        tag:
          type: string
          description: Данные для удобства поиска
          example: funny
    
    pagination:
      type: object
      required:
        - page
        - total_items
        - limit
      properties:
        page:
          type: integer
          description: Текущая страница
          example: 1
        total_items:
          type: integer
          description: Общее количество стикеров
          example: 100
        limit:
          type: integer
          description: Установленный лимит
          example: 10

    messages_request:
      type: object
      required:
        - chat_id
        - content_type
      properties:
        chat_id:
          type: integer
          description: Уникальный признак объекта «чат»
          example: 123
        content_type:
          type: string
          enum: 
            - text
            - sticker
          description: Тип содержимого, который может быть одним из перечисленных значений
          example: text
        sticker_id:
          type: integer
          description: Уникальный признак объекта «стикер»
          example: 1
        content:
          type: string
          description: Содержание текстового сообщения
          example: Привет, как дела?

    messages_response:
      type: object
      required:
        - message_id
        - status
        - created_at
      properties:
        message_id:
          type: integer
          description: Уникальный признак объекта «cообщение»
          example: 456
        status:
          type: string
          enum: 
            - sent
            - pending
            - blocked
          description: Статус сообщения, который может быть одним из перечисленных значений
          example: sent
        created_at:
          type: string
          format: date-type
          description: Время отправки
          example: 2024-12-23T15:47:38.654Z
