openapi: 3.0.3
info:
  title: Favorite Products API
  description: API для Избранных Товаров
  version: 1.0.0
  contact:
    name: FP API Support
    url: https://www.fp.com/support
    email: support@fp.com
servers:
  - url: https://fp.org/api/v1
tags:
  - name: Избранное

security:
        - tokenAuth: []
        
paths:
  /favorites:
    get:
      tags:
        - Избранное
      summary: Получение списка избранных товаров
      description: Получает список избранных товаров пользователя, идентификатор которого передается в токене
      responses:
        '200':
          description: Успешное получение списка избранных товаров
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        productName:
                          type: string
                          description: Название товара
                          example: "Маркер"
                        price:
                          type: number
                          format: double
                          description: Цена товара
                          example: 58,99
                      required:
                        - productName
                        - price
                required:
                  - products
        '401':
          description: Неавторизован. Токен не предоставлен или недействителен
        '404':
          description: Список избранных товаров не найден
        '500':
          description: Внутренняя ошибка сервера

    post:
      tags:
        - Избранное
      summary: Добавление товара в избранное
      description: Добавляет товар в избранное для пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  type: integer
                  description: Идентификатор товара для добавления в избранное
              required:
                - productId
      responses:
        '201':
          description: Товар успешно добавлен в избранное
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Товар успешно добавлен в избранное"
                required:
                  - message
        '404':
          description: Товар не найден для добавления в избранное
        '409':
          description: Конфликт. Товар уже находится в избранном
        '500':
          description: Внутренняя ошибка сервера

  /favorites/products/{productId}:
    delete:
      tags:
        - Избранное
      summary: Удаление товара из избранного
      description: Удаляет товар из избранного по идентификатору товара.
      parameters:
        - name: productId
          in: path
          required: true
          description: Идентификатор товара для удаления из избранного
          schema:
            type: integer
      responses:
        '200':
          description: Товар успешно удален из избранного
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Товар успешно удален из избранного"
                required:
                  - message
        '404':
          description: Товар не найден в избранном
        '500':
          description: Внутренняя ошибка сервера

components:
  securitySchemes:
    tokenAuth:
      type: http
      description: Авторизация с помощью JWT
      scheme: bearer
      bearerFormat: JWT