openapi: 3.0.3
info:
  title: Swagger - OpenAPI 3.0
  description: Описание метода GET для фильтрации продуктов по ингредиенту
  version: 1.0.11
servers:
  - url: https://zolotoeyabloko.com/api/v1
  
tags:
  - name: product
    description: Метод для работы с продуктами
    
paths:
  /products:
    get:
      tags:
        - product
      summary: Фильтрация продуктов по ингредиенту
      description: Фильтрует продукты по одному или нескольким ингрединтам и возвращает список продуктов и их количество
      parameters:
        - name: inci
          in: query
          description: Название ингредиента в соответсвии с номенклатурой INCI
          required: false
          schema:
            type: string
      responses:
       '200':
         description: Success
         content:
          application/json:
            schema:
              $ref: '#/components/schemas/Products_response'                   
              
components:
  schemas:

    Products_response:
      type: object
      required:
        - products
        - productId
        - productName
        - brand
        - productsAmount
      properties:
        products:
          type: array
          items:
            type: object
            properties:
              productId:
                type: integer
                description: Уникальный идентификатор продукта
                example: 14
              productName:
                type: string
                description: Название продукта
                example: Крем для рук
              brand:
                type: string
                description: Название бренда продукта
                example: Dior
        productsAmount:
          type: integer
          description: Количество найденных продуктов
          example: 1
